/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */
:root {
  /* Colors */
  --c-orange-1: #f4a261;
  --c-pink-1: #ff758f;
  --c-purple-1: #9381ff;
  --c-blue-1: #4ea8de;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */
:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(
    90deg,
    var(--c-orange-1) 15%,
    var(--c-pink-1) 35%,
    var(--c-purple-1) 55%,
    var(--c-blue-1) 75%
  );
  --vp-home-hero-image-filter: blur(40px);
}

/**
 * Component: Social
 * -------------------------------------------------------------------------- */
:root {
  .vpi-social-youtube:hover {
    color: red;
  }
  .vpi-social-linkedin:hover {
    color: #0077b5;
  }
  .vpi-social-x:hover {
    color: #000;
  }
  .vpi-social-github:hover {
    color: #000;
  }
}
